<!-- <form>
      <div class="col-md-3 mb-3">
        <label for="email">Email</label>
        <input 
            type="text" 
            class="form-control" 
            id="email" 
            formControlName="email" 
            placeholder="Email"
            [class.is-valid]="form.get('email')?.valid && form.get('email')?.touched"
            [class.is-invalid]="form.get('email')?.invalid && form.get('email')?.touched">
        <div *ngIf="form.invalid" class="invalid-feedback">
          Please provide a valid email.
        </div>
      </div>
  </form> -->
